.burger_menu {
    display: none;
    position: relative;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 0;
    width: 40px;
    height: 30px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.burger_menu .icon,
.burger_menu .icon2 {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #000;
    left: 0;
}

.burger_menu .icon2 {
    top: 5px;
}

.burger_menu .icon3 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    top: 25px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

/*--- burger_menu.open ---*/
.burger_menu.open {
    background-color: #f1f1f1;
}

.burger_menu.open .icon {
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    background: transparent;
}

.burger_menu.open .icon2 {
    transition-duration: 0.1s;
    transform-origin: right top;
    transform: rotate(-45deg);
    right: -18px;
    top: 0px;
    background-color: white;
}

.burger_menu.open .icon3 {
    transition-duration: 0.1s;
    transform-origin: right bottom;
    transform: translateY(4.5px) rotate(45deg);
    right: -18px;
    top: 22px;
    background-color: white;
}