<template id="nav-template">
  <nav class="nav_section" id="index-nav">
    <div class="nav_row site-padding-x site-padding-y">
      <a href="index.html" class="logo" id="website_title">Studio Ajot</a>
      <!-- hamburger menu button -->
      <button type="button" class="burger_menu">
        <span class="icon" id="icon"></span> <span class="icon2" id="icon2"></span> <span
        class="icon3" id="icon3"></span>
      </button>
    </div>
    <!-- menu points -->
    <div class="menu_points">
      <!-- <span id="subtitle"> Visuelle Kommunikation </span> -->
      <ul>
        <li>
          <a class="slider__nav_menu_button nav_menu_button nav_menu_button--big accent_bg"
             href="index.html"><span class="index-link white-text">Visuelle Kommunikation</span></a>
        </li>
        <li>
          <a class="slider__nav_menu_button nav_menu_button accent_bg" href="galerie.html"><span
            class="index-link white-text">Galerie</span></a>
        </li>
        <li>
          <a class="slider__nav_menu_button nav_menu_button accent_bg" href="ueber-uns.html"> <span
            class="index-link white-text">Über uns</span> </a>
        </li>
        <li>
          <a class="slider__nav_menu_button nav_menu_button accent_bg" href="kompetenzen.html"><span
            class="index-link white-text">Kompetenzen</span></a>
        </li>
      </ul>
    </div>
  </nav>
</template>