:root {
  --accent-color-first-project: #4A2BFB;
}

nav,
footer,
.menu_points {
  background-color: transparent;
}

footer * {
  text-decoration-color: var(--accent-color-first-project);
}

.burger_menu #icon,
#icon2,
#icon3,
.accent_bg,
.project-description-button,
#progress-bar-bg,
#progress-bar-highlight {
  background-color: var(--accent-color-first-project);
}

#index-nav {
  border-bottom: 1px solid var(--accent-color-first-project);
  border-top: 1px solid var(--accent-color-first-project);
}

#index-footer {
  border-top: 1px solid var(--accent-color-first-project);
  border-bottom: 1px solid var(--accent-color-first-project);
}

.menu_points {
  border-bottom: 0;
}

nav,
footer *,
#website_title,
footer,
.accent_text,
.nav_menu_button:hover .index-link,
.nav_menu_button:focus .index-link {
  color: var(--accent-color-first-project);
}

.accent_border {
  border-color: var(--accent-color-first-project);
}

.nav_menu_button:hover,
.nav_menu_button:focus {
  background-color: transparent;
  border: 1px solid var(--accent-color-first-project);
}

.cursor {
  fill: var(--accent-color-first-project);
}
