nav,
footer,
.flexer {
  background-color: transparent;
}

footer *,
#index-link {
  text-decoration-color: #00FF93;
}

.toggle_menu #icon,
#icon2,
#icon3 {
  background-color: #00FF93;
}

#index-nav {
  border-bottom: 1px solid #00FF93;
  border-top: 1px solid transparent;
}

#index-footer {
  border-top: 1px solid #00FF93;
  border-bottom: 0;
}

.flexer {
  border-bottom: 0;
}

nav *,
footer *,
.info,
#slider_click,
footer,
.project-description {
  color: #00FF93;
}

