/* ################################
#     selfhosting google font     #
#################################*/
/* https://google-webfonts-helper.herokuapp.com/fonts/jetbrains-mono?subsets=latin */

/* jetbrains-mono-500 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jetbrains-mono-v6-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/jetbrains-mono-v6-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/jetbrains-mono-v6-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/jetbrains-mono-v6-latin-500.svg#JetBrainsMono")
      format("svg"); /* Legacy iOS */
}
/* jetbrains-mono-regular - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jetbrains-mono-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/jetbrains-mono-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/jetbrains-mono-v6-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/jetbrains-mono-v6-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/jetbrains-mono-v6-latin-regular.svg#JetBrainsMono")
      format("svg"); /* Legacy iOS */
}
/* jetbrains-mono-600 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/jetbrains-mono-v6-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/jetbrains-mono-v6-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/jetbrains-mono-v6-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/jetbrains-mono-v6-latin-600.svg#JetBrainsMono")
      format("svg"); /* Legacy iOS */
}
/* jetbrains-mono-700 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jetbrains-mono-v6-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/jetbrains-mono-v6-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/jetbrains-mono-v6-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/jetbrains-mono-v6-latin-700.svg#JetBrainsMono")
      format("svg"); /* Legacy iOS */
}
/* jetbrains-mono-800 - latin */
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/jetbrains-mono-v6-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/jetbrains-mono-v6-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/jetbrains-mono-v6-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/jetbrains-mono-v6-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/jetbrains-mono-v6-latin-800.svg#JetBrainsMono")
      format("svg"); /* Legacy iOS */
}

/* ################################
#              general            #
#################################*/
body,
html {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
  overflow-y: auto;
  font-display: swap;
}
#index_html {
  overflow-x: hidden;
}
html {
  padding: env(safe-area-inset);
}
body {
  width: 100% !important;
  line-height: normal;
}
.visible-xs {
  display: none !important;
}
.visible_mob {
  display: none;
}
.hidden-xs {
  display: block !important;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.border-right {
  border-right: 1px solid black;
}
.border-top {
  border-top: 1px solid black;
}
.border-left {
  border-left: 1px solid black;
}
.border-bottom {
  border-bottom: 1px solid black !important;
}
.mob_img {
  display: none;
}

.white-bg {
  background-color: white;
}

.black-bg {
  background-color: black;
}

.site-padding-x {
  padding-left: 30px;
  padding-right: 30px;
}

.site-padding-y {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ################################
#            navigation           #
#################################*/
#website_title {
  z-index: 30;
}

.nav_section {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 10;
  cursor: default;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.nav_section.white {
  background-color: white;
}

.nav_section .nav_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.nav_section .logo {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 45px;
  letter-spacing: -2px;
  white-space: nowrap !important;
}

.nav_section ul {
  display: flex;
}

.nav_section ul li a {
  text-decoration: none;
  color: black;
}

.index-link {
  text-decoration: none;
  color: white;
}

.nav_menu_button {
  display: block;
  width: 160px;
  padding: 12px 0;
  border-radius: 20px;
  text-align: center;
  margin-left: 10px;
  border: 1px solid transparent;
  color: white;
}

.nav_menu_button:hover,
.nav_menu_button:focus {
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
}
.nav_menu_button:hover .index-link,
.nav_menu_button:focus .index-link {
  color: black;
}

#subtitle {
  border: 1px solid;
  border-radius: 20px;
  padding: 12px 20px;
  white-space: nowrap;
}

.menu_points {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  text-decoration: none;
}

/* ################################
#           burger_menu           #
#################################*/

.burger_menu {
  display: none;
  position: relative;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.burger_menu .icon,
.burger_menu .icon2 {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #000;
  left: 0;
}

.burger_menu .icon2 {
  top: 5px;
}

.burger_menu .icon3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  top: 25px;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

/*--- burger_menu.open ---*/
.burger_menu.open {
  background-color: #f1f1f1;
}

.burger_menu.open .icon {
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  background: transparent;
}

.burger_menu.open .icon2 {
  transition-duration: 0.1s;
  transform-origin: right top;
  transform: rotate(-45deg);
  right: -18px;
  top: 0px;
  background-color: white;
}

.burger_menu.open .icon3 {
  transition-duration: 0.1s;
  transform-origin: right bottom;
  transform: translateY(4.5px) rotate(45deg);
  right: -18px;
  top: 22px;
  background-color: white;
}

/* ################################
#          main_content           #
#################################*/
.main-content {
  min-height: 100vh !important;
  padding-top: 86px;
  padding-bottom: 80px;
}

/* ################################
#        project-description      #
#################################*/
/*mobile style in mobile-detect.css */

.project-description-wrapper {
  position: absolute;
  bottom: 108px;
  left: 0;
}

.project-description {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  white-space: pre-wrap;
  pointer-events: none;
  touch-action: none;
  border-radius: 25px;
  color: white;
  padding: 20px 30px;
  width: auto;
}
.project-description-button {
  display: none;
}

/* ################################
#              slider              # 
#################################*/
.slider_section {
  position: fixed;
  bottom: 0;
  top: 100%;
  width: 100vw;
  min-width: 100vw;
  height: calc(100vh);
}

.slider_section.active {
  top: 0;
  cursor: none;
}

.slider_section .carousel-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flickity_img,
.flickity_vid {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  object-fit: cover;
}

.fullMobileHeight {
  height: calc(var(--vh, 1vh) * 100);
  min-height: calc(var(--vh, 1vh) * 100);
}

/* ################################
#            .flickity            #
#################################*/
.flickity-prev-next-button {
  display: none;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  height: 100vh !important;
  cursor: none;
}

.flickity-prev-next-button.previous,
.flickity-prev-next-button.next {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  bottom: 0;
  height: calc(100vh);
  transform: none;
  border-radius: 0;
  background: none;
  mix-blend-mode: exclusion;
  cursor: none !important;
}

.flickity-prev-next-button.previous:after,
.flickity-prev-next-button.next:after {
  position: absolute;
  content: "";
  width: 50%;
  left: 0;
  height: 100%;
}

.flickity-prev-next-button.next:after {
  left: initial;
  right: 0;
}

.flickity-prev-next-button.previous:after:hover,
.flickity-prev-next-button.next:after:hover {
  background-color: rgba(0, 255, 255, 0.34);
  mix-blend-mode: exclusion;
}

.flickity-prev-next-button.next {
  left: initial;
  right: 0;
}

.flickity-prev-next-button svg {
  display: none;
}

/* ################################
#            info_box             #
#################################*/

.info_box {
  background-color: white;
}

.info_box p {
  color: black;
  margin-bottom: 0;
}

/*--- text box ---*/
.info_box .text-box {
  padding: 30px;
  word-wrap: break-word;
  /* position: relative; */
}

.info_box .bottom {
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  background-color: white !important;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* ################################
#              cursor             #
#################################*/
.cursor {
  left: 0;
  top: 0;
  position: absolute;
  height: 4rem;
  width: 4rem;
  pointer-events: none;
}

.cursor svg {
  pointer-events: none;
  position: absolute;
  left: -2rem;
  top: -2rem;
  width: 100%;
  height: 100%;
}

html.active {
  cursor: none;
}
/* ################################
#           scrollbar             #
#################################*/
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

/* ################################
#              footer            #
#################################*/
footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  white-space: nowrap;
  z-index: 30;
  cursor: default;
}

footer.white {
  background-color: white;
}

footer a,
footer a:hover,
footer a:focus {
  text-decoration: none;
  color: black;
}

footer a span:hover,
footer a span:focus {
  text-decoration: underline;
}

footer a i {
  font-size: 17px;
  margin-right: 15px;
  text-decoration: none !important;
}

.footer-link {
  color: black;
}

/* ################################
#    flickity dots / progressbar  #
#################################*/
/* style in mobile-detect.css */
.flickity-page-dots {
  display: none;
}

