H1 {
  font-size: 54px;
  font-weight: 600;
}

H2 {
  font-size: 20px;
  font-weight: 900 !important;
  text-transform: uppercase;
}

.copy-1 {
  font-size: 20px;
  font-weight: 500 !important;
}

.copy-2 {
  font-size: 20px;
  font-weight: 700;
}

.copy-rot {
  font-size: 20px;
  font-weight: 500 !important;
  color: #830DF8;
}

.white-links {
  color: white;
  text-decoration: none;
}

.white-links:hover {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.black-links {
  color: black;
  text-decoration: none;
}

.black-links:hover {
  color: #C600FD;
  font-weight: 900;
  text-decoration: none;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}
/* #################################
#         mobile text sizes        #
#################################*/
@media (max-width: 991px) {
  H2 {
    font-size: 18px;
  }

  .copy-1,
  nav,
  footer {
    font-size: 18px;
    line-height: normal;
  }

  .nav_section .logo {
    font-size: 38px;
  }
}
