H1 {
  font-size: 54px;
  font-weight: 600;
}

H2 {
  font-size: 22px;
  font-weight: 900 !important;
  text-transform: uppercase;
}

.copy-1 {
  font-size: 22px !important;
  font-weight: 500 !important;
  font-decoration: none;
  color: black;
  }

.copy-2 {
  font-size: 22px;
  font-weight: 700;
}
