#index-page-intro-text {
    position: absolute;
    width: calc(100 - 60px);
    bottom: 50px;
    left: 30px;
    z-index: 1;
}

#kontakt-textbox {
    width: 600px;
}

@media (max-width: 768px) {
    #index-page-intro-text {
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
    }
}

@media (max-width: 992px) {
    #kontakt-textbox {
        width: 100%;
    }
}

/* ################################
#    progressbar for slider       #
#################################*/

#progress-bar,
#progress-bar-bg,
#progress-bar-highlight {
    height: 8px;
    position: absolute;
    border-radius: 30px;
}

#progress-bar {
    pointer-events: none;
    z-index: 1;
}

#progress-bar-bg {
    background-color: black;
    opacity: 0.25;
}

#progress-bar-highlight {
    background-color: black;
    opacity: 1;
    transition: left 0.1s;
}

@media (max-width: 576px) {
    #progress-bar,
    #progress-bar-bg {
        width: calc(100% - 20px);
    }

    #progress-bar {
        left: 20px;
        top: 90px;
    }

    .slider-arrow-right, .slider-arrow-left {
        display: none;
    }
}
