html .mobile-detect .cursor {
    display: none;
    visibility: hidden;
}

.mobile-detect {
    cursor: none !important;
}

.mobile-detect .project-description-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: white;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}

.mobile-detect .project-description {
    opacity: 1;
    transition: all 0.5s;
}

.mobile-detect .project-description-wrapper {
    display: none;
    position: absolute;
    left: 0;
}

.mobile-detect .project-description-wrapper.hide .project-description {
    opacity: 0;
}

/* ################################
#             gallery             #
#################################*/

.mobile-detect .gallery-container {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
}

.mobile-detect .gallery-container__overlay {
    display: none;
}
