html {
    scroll-behavior: smooth;
}

.scroll-with-snap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;

}

.scroll-with-snap img,
.scroll-with-snap video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-x: hidden;

}
