#index_html {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.visible-xs {
    display: none !important;
}

.visible_mob {
    display: none;
}

.hidden-xs {
    display: block !important;
}

.border-right {
    border-right: 1px solid black;
}

.border-top {
    border-top: 1px solid black;
}

.border-left {
    border-left: 1px solid black;
}

.border-bottom {
    border-bottom: 1px solid black !important;
}

.mob_img {
    display: none;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-pink {
    background-color: var(--color-pink);
}

.bg-orange {
    background-color: var(--color-orange);
}

.bg-lavender {
    background-color: var(--color-lavender);
}

.bg-light-blue {
    background-color: var(--color-light-blue);
}

.narrow {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wide {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wide p {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h-100vh {
    height: 100vh;
}

.pt-250px {
    padding-top: 250px;
}

.section-padding {
    padding: 150px 30px 150px 30px;
}

.w-60 {
    width: 60%;
}

.min-page-height {
    min-height: calc(100vh - 80px);
}