
:root {
    --button-width: 250px;
    --button-width-big: 300px;
    --button-radius: 40px;
    --button-padding: 10px 20px;
}

a {
    cursor: pointer !important;
}

a.button {
    text-decoration: none !important;
    cursor: pointer;
    display: flex;
}

button.big, a.big {
    width: var(--button-width-big);
    cursor: pointer;
    text-decoration: none !important;
}

.button {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: var(--button-radius);
    width: var(--button-width);
    padding: var(--button-padding);
    /*transition: var(--transition);*/
    height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .button, button.big, a.big {
        width: 100%;
        height: 45px;
        max-width: calc(100vw - 80px);
    }
}

@media (max-width: 576px) {
    .button, button.big, a.big {
        width: 100%;
        max-width: calc(100vw - 60px);
    }
}


/* Primary Button */
.primary-button {
    background-color: black;
    color: white !important;
    cursor: pointer !important;
}

.primary-button:hover {
    background-color: white;
    color: black !important;
    border-color: white;
}

/* Secondary Button */
.secondary-button {
    cursor: pointer !important;
    background-color: transparent;
    color: black !important;
}

.secondary-button:hover {
    border-color: white;
    color: white !important;
}

a button {
    text-decoration: none;
    cursor: pointer !important;
}

.icon-button {
    transition: filter 0.3s ease;
}

.icon-button img {
    height: 45px;
    width: 45px;
}

.icon-button:hover {
    filter: invert(1);
}

