#intro-text {
    position: absolute;
    bottom: 50px;
    left: 30px;
    z-index: 1;
}

#projekte {
    height: 80px;
    background-color: var(--color-lavender);
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#kontakt-textbox {
    width: 600px;
}

@media (max-width: 576px) {
    #intro-text {
        bottom: 40px;
        left: 20px;
    }
}


@media (max-width: 992px) {
    #kontakt-textbox {
        width: 100%;
    }
}


