.scroll-with-snap {
    width: 100vw;
    height: 100dvh !important;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    margin: 0;
    padding: 0;
    position: relative;
    /*overflow-x: hidden;*/
}

/*.scroll-with-snap:not(.footer) img,*/
/*.scroll-with-snap:not(.footer) video {*/
.section img,
.section video {
    width: 100dvw !important;
    height: 100dvh !important;
    object-fit: cover;
    overflow: hidden;
}

.leistungen-text {
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scroll-indicator {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.dot.active {
    background-color: black;
    transform: scale(1.3);
}


section {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0;
}

@media (max-width: 992px) {
    .scroll-indicator {
        display: none;
    }
    .leistungen-text {
        width: calc(100% - 60px);
        gap: 4px;
    }
}


@media (max-width: 576px) {
    .leistungen-text {
        width: calc(100% - 40px);
        bottom: 40px;
        left: 20px;
    }
}
